<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.providers.applications"
        android:sharedUserId="android.uid.shared">

    <!-- Allows the system to register app launches so the
    ApplicationsProvider can also rank apps by frequency of use. -->
    <permission android:name="com.google.android.providers.applications.permission.INCREASE_LAUNCH_COUNT"
        android:protectionLevel="dangerous"
        android:label="@string/permlab_increase_launch_count"
        android:description="@string/permdesc_increase_launch_count" />

    <application android:process="android.process.acore" android:label="@string/app_label">

        <provider android:name="ApplicationsProvider" android:authorities="applications"
                android:syncable="false" android:multiprocess="false" />

        <activity android:name="ApplicationLauncher"
                android:label="@string/search_label"
                android:stateNotNeeded="true"
                android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
        </activity>

    </application>
</manifest>
